<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.gov.imostate">

<!--    permission to use internet-->
    <uses-permission android:name="android.permission.INTERNET" />
<!--    permission to use nfc -->
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".TransApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransApp">
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!--Commenting these lines of code prevents application from processing NFC intent when it is not in the foreground -->
<!--&lt;!&ndash;            NFC NDEF DISCOVERED&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:mimeType="application/json" />-->
<!--            </intent-filter>-->

<!--&lt;!&ndash;            NFC TECH DISCOVERED&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.nfc.action.TECH_DISCOVERED"/>-->
<!--            </intent-filter>-->

<!--&lt;!&ndash;            meta data&ndash;&gt;-->
<!--            <meta-data-->
<!--                android:name="android.nfc.action.TECH_DISCOVERED"-->
<!--                android:resource="@xml/nfc_tech_filter" />-->
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>